**/__pycache__/
**.swp
**.save
SequentialClassification/main/projects/*/logs/

!SequentialClassification/main/projects/*/models/

SequentialClassification/main/projects/*/models/*
!SequentialClassification/main/projects/*/models/*/

SequentialClassification/main/projects/*/models/*/*
!SequentialClassification/main/projects/*/models/*/hmm220/
!SequentialClassification/main/projects/*/models/*/hmm240/
!SequentialClassification/main/projects/*/models/*/prototype


SequentialClassification/main/projects/*/data/*/*/*.ark
SequentialClassification/main/projects/*/data/*/*/*.htk
